<h1 class="white_body">About</h1>
<p class= "white_body">
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	is a project to learn
	<%= link_to "Ruby on Rails", "http://rubyonrails.org"%>
	in one month. This is my first attempt to make the application with this
	tutorial.
</p>

