<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		This is our home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com", class: "home_l"%>
		application.
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>

