/* You can change the font here */
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$navbarHeight: 50px;
$navbarBackground: white;
$navbarBackgroundHighlight: white;
$navbarBrandColor: #333333;
$navbarLinkColor : red;

$tableBackgroundAccent : #424242;

$btnPrimaryBackground: #2986b5;
$btnPrimaryBackgroundHighlight: #26607c;

$textColor : white;
$bodyBackground: #333333;

@font-face {
    font-family: 'gooddogregular';
    src: url(font-path('GoodDog/GoodDog-webfont.eot'));
    src: url(font-path('GoodDog/GoodDog-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('GoodDog/GoodDog-webfont.woff')) format('woff'),
         url(font-path('GoodDog/GoodDog-webfont.ttf')) format('truetype'),
         url(font-path('GoodDog/GoodDog-webfont.svg#gooddogregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*$baseFontFamily: gooddogregular;*/

@import 'bootstrap';

body {
	padding-top: 100px;	
}

@import 'bootstrap-responsive';

.form-btn {
	margin-left: 180px;
}

.simple_form {
 div.input {
 		margin-left: 50px;
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }

}

.well{
  background-color: $grayDarker;
  border-color: $grayDarker;
}

.hero-unit {
	background-color: $grayDarker;
	color: $white;	
	.home_l {
		color:  #2986b5;
	}

}

.navbar .brand{
	font-family: 'gooddogregular';
	font-size: 40px;
}

.navbar_inner {
	@include box-shadow(none !important);
	border: 0;
}


.footer {
	margin-top: 800px;
	color: $grayLight;
	a{
		color: $white;
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $grayDarker;
    width: 214px;
}

/*#pins {
    max-width: 60em; // 960 px 
    margin: 0 auto;
}
    #list
    {
        width: 103.125%; // 990px 
        overflow: hidden;
        margin-left: -1.562%; // 15px 
        margin-bottom: -1.875em; // 30px 
    }
        .box
        {
            width: 30.303%; //300px
            float: left;
            margin: 0 1.515% 1.875em; //15px 30px 
            padding: 5px;
            font-size: 11px;
            line-height: 1.4em;
            float: left;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 1px 1px 10px $grayDarker;
        }
 */
/*@media only screen and ( max-width: 40em ) //640px 
{
    .box
    {
        width: 46.876%; //305px 
        margin-bottom: 0.938em; //15px 
    }
}
@media only screen and ( max-width: 20em ) //640px
{
    #list
    {
        width: 100%;
        margin-left: 0;
    }
        .box
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
}*/

.box img {
    display: block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}

